* {
    margin: 0;
    padding: 0;
}

body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title {
    font-size: 8vh;
    font-weight: 800;
    text-align: center;
}

.small-title {
    font-size: 6vh;
    font-weight: 400;
    text-align: center;
}


.galleria {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    overflow: hidden;
}

.kuvat {
    
    flex: 15%;
    max-width: 15%;
    padding: 0 4px;
}

.kuvat img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}